aside {
  position: fixed;
  padding-top: 40px;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: linear-gradient(200deg, #27156E, #6A2A88, #9F4981);
  opacity: 0;
  visibility: hidden;
  transition: all .5s ease;
  z-index: 2;
}

.open {
  opacity: 1;
  visibility: visible;
}


button {
  padding: 15px 40px;
  background: transparent;
  border: 1px solid rgba(255, 255, 255, 0.4);
  color: white;
  border-radius: 8px;
  transition: all .5s ease;
}
button:hover {
  border: 1px solid white;
}

.close {
  position: fixed;
  top: 80px;
  right: 40px;
  color: white;
  z-index: 999;
  cursor: pointer;
  font-family: sans-serif;
}
.close span,
.close span:before,
.close span:after {
  border-radius: 4px;
  height: 5px;
  width: 35px;
  background: white;
  position: absolute;
  display: block;
  content: '';
}
.close span {
  background: transparent;
}
.close span:before {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}
.close span:after {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.outer-close {
  position: absolute;
  right: 0;
  top: 0;
  width: 85px;
  height: 85px;
  cursor: pointer;
}
